# Core
pytz==2019.1  # django dependency
Django==2.2.10
utils2devops  # the latest alway

# Storages
#psycopg2-binary==2.8.3

# Rest apis
djangorestframework==3.9.4
django-filter==2.1.0
six==1.12.0  # django-rest-auth pytest dependency
django-rest-auth==0.9.5

# AWS
docutils==0.14  # botocore dependency
jmespath==0.9.4  # boto3 botocore dependency
boto3==1.9.169
botocore==1.12.169
s3transfer==0.2.1

# Dynamic Documentations
certifi==2022.12.7  # coreapi dependency
coreschema==0.0.4  # coreapi dependency
itypes==1.1.0  # coreapi dependency
uritemplate==3.0.0  # coreapi dependency
coreapi==2.3.3

# static documentation
pygments-pytest==1.2.0
recommonmark==0.5.0  # sphinx dependency
MarkupSafe>=1.1.1  # Jinja2 dependency
Jinja2>=2.10.1  # sphinx dependency
Sphinx==2.1.1
readthedocs-sphinx-ext
chardet>=3.0.4  # requests dependency
idna>=2.8  # requests dependency
urllib3>=1.25.3  # request dependency
requests>=2.22.0
